<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rode Duivels Merchandise</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('/css/style.css') }}">
</head>
<body>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} mb-0">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-right lang-selector">
                <a href="/nl">NL</a>
                <a href="/fr">FR</a>
                <a href="/en">EN</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- show the logo -->
                <img src="{{ asset('/images/logo.png') }}" alt="logo" class="logo" width="100">
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}
</body>
</html>
