{% extends 'base.html.twig' %}

{% block content %}
    <main class="container">
        <div class="row">
            <div class="col-12">
                <div class="card mt-4">
                    <div class="card-body">
                        <div class="row shop-row">
                            <div class="col-12">
                                <h1>{{ 'order.complete.thanks_header'|trans }}</h1>
                                <p>{{ 'order.complete.sub_header'|trans({'%product%': order.product.name}, 'messages') }}</p>
                                <p>{{ 'order.complete.mail_info'|trans }} <a href="mailto:1895@footbel.com">1895@footbel.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
