{% extends 'base.html.twig' %}

{% block content %}

    <main class="container">
        <div class="row">
            <div class="col-12">
                <div class="card mt-4">
                    <form method="post">
                    <input type="hidden" name="_token" value="{{ csrf_token('member_merchandise') }}">
                    <div class="card-body">
                        <div class="row landing-row">
                            <div class="col-md-4 col-xs-12">
                                Als lid van 1895 krijg je een mooi geschenk. Je hebt de keuze tussen een pet, een sjaal of een vlag. Vul hiernaast jouw lidnummer en geboortedatum in, en maak je keuze
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <label for="birthDate">Geboortedatum</label>
                                <input class="form-control" name="birthday" type="date" id="birthDate">
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <label for="memberNumber">Lidnummer</label>
                                <input class="form-control" name="number" type="number" id="memberNumber">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center mt-2">
                                <button class="btn btn-danger btn-lg">Volgende</button>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
